body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
    background-color: white; 
}

.box1 {
    width: 650px;
    height: 530px;
    position: absolute; 
    background-color: #e7cece; 
    z-index: 1; 
    left: 250px; 
    top: 60px;
}

.highlight {
    color: #8b2f7f;
    font-weight: bold;
}
.box2 {
    width: 350px;
    height: 400px;
    position: absolute; 
    background-color: #f5f0e6; 
    z-index: 2; 
    right: -200px; 
    top: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.header-container h1 {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    left: -380px;
}
  
.header-container span {
    font-weight: normal;
}
  
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    position: relative;
    right: -350px;
    top: -35px;
}
  
nav ul li a {
    text-decoration: none;
    color: #050505;
}

.profile{
    width: 190px;
    height: 360px;
    position: relative;
    right: -70px;
    top: 40px;

}

.box2 h2{
    font-size: 24px;
    position: relative;
    right: -15px;
}

.box2 p{
    margin: 15px 0;
    line-height: 1.5;
    position: relative;
    right: -25px;
    top: -500px;
}

.intro h3{
    font-size: 32px;
    position: relative;
    right: -50px;
    top: 50px;
    color: #050505;
}

.intro p{
    font-size: 18px;
    position: relative;
    right: -50px;
    top: 20px;
    color: #050505;
}

.intro h4{
    font-size: 18px;
    position: relative;
    right: -30px;
    top: 50px;
    color: #8b2f7f;
}

.intro ul li{
    list-style: none;
    margin-bottom: 5px;
    position: relative;
    top: 35px;
    left: 35px;
}
.hobby h1{
    font-size: 18px;
    position: relative;
    right: -250px;
    top: -100px;
    color: #8b2f7f;
}

.hobby ul li{
    list-style: none;
    margin-bottom: 5px;
    position: relative;
    top: -100px;
    left: 235px;
}

footer {
    width: 1290px;
    height: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    position: relative;
    top: -45px;
    left:-230px ;
}

.footer-container p {
    height: 3px;
    margin: 5px 0;
    position: relative;
    top: 15px;
    left:-500px ;
    color: #050505;
}
  


.icons i{
    width: 30px;
    color: #050505;
    position: relative;
    top: -13px;
    left: -50px;
}
  
@media (max-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        margin: 0;
        background-color: white; 
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
    }    

    .header-container h1 {
        font-size: 40px;
        font-weight: 600;
        position: relative;
        left: 89px;
        top: 290px;
        color: #050505;
        padding: 150px;
    }

    .header-container span {
        font-weight: normal;
    }
      
    nav ul {
        font-size: 40px;
        list-style: none;
        display: flex;
        gap: 20px;
        position: relative;
        right: -730px;
        top: 8px;
    }
    
    
    nav ul li a {
        text-decoration: none;
        color: #050505;
    }

    .box1 {
        width: 890px;
        height: 948px;
        position: absolute;
        background-color: #e7cece;
        z-index: 1;
        left: 0px;
        top: 486px;
    }
    
    .highlight {
        color: #8b2f7f;
        font-weight: bold;
    }
    
    .box2 {
        width: 442px;
        height: 585px;
        position: absolute;
        background-color: #f5f0e6;
        z-index: 2;
        right: -244px;
        top: 92px;
    }

    .box2 h2{
        font-size: 24px;
        position: relative;
        right: -15px;
    }

    .box2 p{
        margin: 15px 0;
        line-height: 1.5;
        position: relative;
        right: -25px;
        top: -500px;
    }

    .profile{
        width: 295px;
        height: 545px;
        position: relative;
        right: -70px;
        top: 40px;

    }

    .intro h3{
        font-size: 75px;
        position: relative;
        right: -50px;
        top: 13px;
        color: #050505;
    }

    .intro p{
        font-weight: 500;
        font-size: 32px;
        position: relative;
        right: -50px;
        top: -45px;
        color: #050505;
    }

    .intro h4{
        font-size: 36px;
        position: relative;
        right: -58px;
        top: -16px;
        color: #8b2f7f;
    }

    .intro ul li{
        font-size: 40px;
        list-style: none;
        margin-bottom: 5px;
        position: relative;
        top: -53px;
        left: 57px;
    }
    .hobby h1{
        font-size: 36px;
        position: relative;
        right: -382px;
        top: -334px;
        color: #8b2f7f;
    }

    .hobby ul li{
        font-size: 36px;
        list-style: none;
        margin-bottom: 5px;
        position: relative;
        top: -327px;
        left: 324px;
    }

    footer {
        width: 1290px;
        height: 20px;
        text-align: center;
        border-top: 1px solid #ddd;
        position: relative;
        top: -45px;
        left:-230px ;
    }

    .footer-container p {
        font-size: 38px;
        height: 19px;
        margin: 5px 0;
        position: relative;
        top: 504px;
        left: -167px;
        color: #050505;
    }
    
    .icons i{
        padding: 17px;
        font-size: 43px;
        width: 36px;
        color: #050505;
        position: relative;
        top: 449px;
        left: 201px;
    }

}
